{{ define "main" -}}
<div class="posts">
    <h1>Links</h1>
    <h2>Computer stuff… mostly</h2>
    <a href="https://brejoc.com" target="_blank">Blog - brejoc.com</a><br />

    <h2>Photography</h2>
    <a href="https://noaiwallart.etsy.com" target="_blank">Photos as digital downloads on Etsy</a><br />
    <a href="https://printler.com/en/print-shop/24470-jochen-breuer/?aid=artist_24470" target="_blank">Posters and framed prints on Printler</a><br />
    <p style="padding-left: 20px;">There is a winter sale at the moment: <b>30% off</b></p>
    <a href="https://pixelfed.social/@brejoc" target="_blank">Pixelfed</a><br />
    <a href="https://www.instagram.com/brejoc/" target="_blank">Instagram</a><br />
    <a href="https://stock.adobe.com/de/contributor/210781807/Jochen" target="_blank">Stock images/videos on Adobe Stock</a><br />
    <a href="https://www.istockphoto.com/de/portfolio/brejoc" target="_blank">Stock images/videos on iStock (Getty)</a><br />
    <p><a href="https://data.brejoc.com/s/wNBt9Jt8AG9fZrK">Download my LUTs for Photomator & Pixelmator Pro</a></p>
</div>
{{- end }}
